[submodule "projects/heard"]
	path = projects/heard
	url = https://github.com/ErdemGunseli/Heard
	branch = main
[submodule "projects/insight"]
	path = projects/insight
	url = https://github.com/ErdemGunseli/In-Sight-AI
	branch = main
[submodule "projects/seorise"]
	path = projects/seorise
	url = https://github.com/ErdemGunseli/SEORise
	branch = main
